In [1]:
import pandas as pd
import json
import ast

In [2]:
data1 = pd.read_csv("data4.csv")
data1

,Unnamed: 0,business_id,stars_x,Music
0,1,SZU9c8V2GuREDN5KgyHFJw,5,"{'dj': False, 'background_music': False, 'no_m..."
1,2,eL4lyE7LNoXEMvpcJ8WNVw,3,{'dj': False}
2,3,SZU9c8V2GuREDN5KgyHFJw,5,{'dj': False}
3,4,SZU9c8V2GuREDN5KgyHFJw,3,"{'dj': False, 'background_music': False, 'no_m..."
4,5,SZU9c8V2GuREDN5KgyHFJw,5,"{'dj': False, 'background_music': False, 'no_m..."
...,...,...,...,...
27501,27502,sz5SMsTOTAshdfsaK98-TA,4,"{'dj': False, 'live': False, 'jukebox': False,..."
27502,27503,q-1ICFSqs2MwDGfe5tX-SQ,4,"{'dj': False, 'live': False, 'jukebox': False,..."
27503,27504,QLHgjBHBoeIUoEvIPvjHnw,4,"{'dj': False, 'live': False, 'jukebox': False,..."
27504,27505,krTxH1a9kzWgwvt3PVH8pQ,5,"{'dj': False, 'live': False, 'jukebox': False,..."
27505,27506,YiSr-W5BBX6uXnhWPxk82Q,5,"{'dj': False, 'live': False, 'jukebox': False,..."

In [3]:
attri = data1['Music']
df=pd.DataFrame(attri)
n = data1[['business_id', 'stars_x']]
a = df.loc[0]
z = ast.literal_eval(a["Music"])
df1 = pd.DataFrame([z])

In [4]:
data1 = pd.read_csv("data4.csv")
attri = data1['Music']
df=pd.DataFrame(attri)
n = data1[['business_id', 'stars_x']]
f=df1
for i in range (0,6001):
    m = df.loc[i]
    a = ast.literal_eval(m["Music"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result1 = pd.concat([n, f], axis=1, join="inner")

In [6]:
for i in range (6001,12001):
    m = df.loc[i]
    a = ast.literal_eval(m["Music"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result2 = pd.concat([n, f], axis=1, join="inner")

In [7]:
for i in range (12001,18001):
    m = df.loc[i]
    a = ast.literal_eval(m["Music"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result3 = pd.concat([n, f], axis=1, join="inner")

In [8]:
for i in range (18001,24001):
    m = df.loc[i]
    a = ast.literal_eval(m["Music"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result4 = pd.concat([n, f], axis=1, join="inner")

In [9]:
for i in range (24001,27506):
    m = df.loc[i]
    a = ast.literal_eval(m["Music"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result5 = pd.concat([n, f], axis=1, join="inner")

In [10]:
result5.to_csv("music.csv")