In [1]:
import pandas as pd
import json
import ast

In [87]:

data1 = pd.read_csv('mnq.csv')
data1

/Users/jianzhuoliu/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,business_id,stars_x,RestaurantsTakeOut,HasTV,NoiseLevel,Alcohol,RestaurantsGoodForGroups,BusinessAcceptsCreditCards,Caters,...,BusinessParking,Music,RestaurantsDelivery,HappyHour,CoatCheck,OutdoorSeating,WheelchairAccessible,RestaurantsTableService,ByAppointmentOnly,DogsAllowed
0,0,SZU9c8V2GuREDN5KgyHFJw,5,True,False,average,beer_and_wine,True,True,True,...,"{'garage': False, 'street': False, 'validated'...","{'dj': False, 'background_music': False, 'no_m...",True,False,False,False,False,False,False,False
1,1,eL4lyE7LNoXEMvpcJ8WNVw,5,True,True,average,beer_and_wine,True,True,False,...,"{'garage': False, 'street': True, 'validated':...","{'dj': False, 'background_music': False, 'no_m...",True,False,False,True,True,False,False,True
2,2,eL4lyE7LNoXEMvpcJ8WNVw,3,True,False,quiet,beer_and_wine,True,True,True,...,"{'garage': True, 'street': True, 'validated': ...",{'dj': False},True,True,False,False,True,False,False,True
3,3,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,...,"{'garage': False, 'street': True, 'validated':...","{'dj': False, 'background_music': False, 'no_m...",True,False,False,True,True,False,False,True
4,4,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,...,"{'garage': False, 'street': True, 'validated':...",{'dj': False},True,True,False,False,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41997,41997,QLHgjBHBoeIUoEvIPvjHnw,4,True,False,average,beer_and_wine,False,True,False,...,"{'garage': False, 'street': False, 'validated'...","{'dj': False, 'live': False, 'jukebox': False,...",True,False,False,True,False,False,False,False
41998,41998,QBNATcq7Stx9LxcSq16W7w,5,True,False,quiet,beer_and_wine,True,True,False,...,"{'garage': False, 'street': True, 'validated':...","{'dj': False, 'background_music': False, 'no_m...",True,True,False,True,False,False,False,True
41999,41999,QLHgjBHBoeIUoEvIPvjHnw,5,True,False,quiet,beer_and_wine,True,True,False,...,"{'garage': False, 'street': True, 'validated':...","{'dj': False, 'background_music': False, 'no_m...",True,True,False,True,False,False,False,True
42000,42000,krTxH1a9kzWgwvt3PVH8pQ,5,True,False,average,beer_and_wine,False,True,False,...,"{'garage': False, 'street': False, 'validated'...","{'dj': False, 'live': False, 'jukebox': False,...",True,False,False,True,False,False,False,False
42001,42001,YiSr-W5BBX6uXnhWPxk82Q,5,True,False,average,beer_and_wine,False,True,False,...,"{'garage': False, 'street': False, 'validated'...","{'dj': False, 'live': False, 'jukebox': False,...",True,False,False,True,False,False,False,False

In [103]:
attri = data1['Ambience']
df=pd.DataFrame(attri)
n = data1[['business_id', 'stars_x','RestaurantsTakeOut','HasTV','NoiseLevel','Alcohol','RestaurantsGoodForGroups','BusinessAcceptsCreditCards','Caters','RestaurantsAttire','BikeParking','GoodForKids','RestaurantsReservations','BusinessAcceptsBitcoin','WiFi','HappyHour','CoatCheck','RestaurantsDelivery','OutdoorSeating','WheelchairAccessible','RestaurantsTableService','ByAppointmentOnly','DogsAllowed','Music','BusinessParking','GoodForMeal']]
a = df.loc[0]
z = ast.literal_eval(a["Ambience"])
df1 = pd.DataFrame([z])

In [104]:
df1

,touristy,hipster,romantic,divey,intimate,trendy,upscale,classy,casual
0,False,False,False,False,False,False,False,False,True

In [105]:
result6

,business_id,stars_x,RestaurantsTakeOut,HasTV,NoiseLevel,Alcohol,RestaurantsGoodForGroups,BusinessAcceptsCreditCards,Caters,RestaurantsAttire,...,GoodForMeal,touristy,hipster,romantic,divey,intimate,trendy,upscale,classy,casual
0,SZU9c8V2GuREDN5KgyHFJw,5,True,False,average,beer_and_wine,True,True,True,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,True,False
1,eL4lyE7LNoXEMvpcJ8WNVw,5,True,True,average,beer_and_wine,True,True,False,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,True,False
2,eL4lyE7LNoXEMvpcJ8WNVw,3,True,False,quiet,beer_and_wine,True,True,True,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,False,True
3,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,True,False
4,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27996,tthy48ZIX_wfY8Dy0Dvg6w,5,True,True,quiet,beer_and_wine,True,True,False,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,False,True
27997,tthy48ZIX_wfY8Dy0Dvg6w,5,True,False,average,full_bar,True,True,True,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,True,True
27998,tthy48ZIX_wfY8Dy0Dvg6w,5,True,True,quiet,beer_and_wine,True,True,False,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,False,True
27999,tthy48ZIX_wfY8Dy0Dvg6w,5,True,False,average,full_bar,True,True,True,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,True,True
28000,tthy48ZIX_wfY8Dy0Dvg6w,5,True,False,average,full_bar,True,True,True,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,False,True

In [106]:
data1 = pd.read_csv('mnq.csv')

attri = data1['Ambience']
df=pd.DataFrame(attri)
n = data1[['business_id', 'stars_x','RestaurantsTakeOut','HasTV','NoiseLevel','Alcohol','RestaurantsGoodForGroups','BusinessAcceptsCreditCards','Caters','RestaurantsAttire','BikeParking','GoodForKids','RestaurantsReservations','BusinessAcceptsBitcoin','WiFi','HappyHour','CoatCheck','RestaurantsDelivery','OutdoorSeating','WheelchairAccessible','RestaurantsTableService','ByAppointmentOnly','DogsAllowed','Music','BusinessParking','GoodForMeal']]
f=df1
for i in range (1,2001):
    m = df.loc[i]
    a = ast.literal_eval(m["Ambience"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result1 = pd.concat([n, f], axis=1, join="inner")

/Users/jianzhuoliu/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [107]:
result1

,business_id,stars_x,RestaurantsTakeOut,HasTV,NoiseLevel,Alcohol,RestaurantsGoodForGroups,BusinessAcceptsCreditCards,Caters,RestaurantsAttire,...,GoodForMeal,touristy,hipster,romantic,divey,intimate,trendy,upscale,classy,casual
0,SZU9c8V2GuREDN5KgyHFJw,5,True,False,average,beer_and_wine,True,True,True,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,True,False
1,eL4lyE7LNoXEMvpcJ8WNVw,5,True,True,average,beer_and_wine,True,True,False,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,True,False,False,True,False,True,False
2,eL4lyE7LNoXEMvpcJ8WNVw,3,True,False,quiet,beer_and_wine,True,True,True,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,True,True
3,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,True,True
4,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,eL4lyE7LNoXEMvpcJ8WNVw,5,False,False,average,NaN,False,True,False,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,False,True
1997,H-1qpp_77KggOAr9htUrEw,4,True,True,average,beer_and_wine,True,True,False,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,True,True
1998,SZU9c8V2GuREDN5KgyHFJw,5,False,True,average,full_bar,False,True,False,dressy,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,False,True
1999,SZU9c8V2GuREDN5KgyHFJw,5,False,False,average,full_bar,True,True,True,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,True,True
2000,1FURjeGJi_LBXcJQg8eskw,5,True,True,average,full_bar,True,True,True,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,False,True

In [108]:
for i in range (2001,4001):
    m = df.loc[i]
    a = ast.literal_eval(m["Ambience"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result2 = pd.concat([n, f], axis=1, join="inner")

In [109]:
for i in range (4001,10001):
    m = df.loc[i]
    a = ast.literal_eval(m["Ambience"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result3 = pd.concat([n, f], axis=1, join="inner")

In [110]:
for i in range (10001,16001):
    m = df.loc[i]
    a = ast.literal_eval(m["Ambience"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result4 = pd.concat([n, f], axis=1, join="inner")

In [111]:
for i in range (16001,22001):
    m = df.loc[i]
    a = ast.literal_eval(m["Ambience"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result5 = pd.concat([n, f], axis=1, join="inner")

In [112]:
for i in range (22001,28001):
    m = df.loc[i]
    a = ast.literal_eval(m["Ambience"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result6 = pd.concat([n, f], axis=1, join="inner")

result6

In [113]:
for i in range (28001,34001):
    m = df.loc[i]
    a = ast.literal_eval(m["Ambience"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result7 = pd.concat([n, f], axis=1, join="inner")

In [114]:
for i in range (34001,40001):
    m = df.loc[i]
    a = ast.literal_eval(m["Ambience"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result8 = pd.concat([n, f], axis=1, join="inner")

In [115]:
for i in range (40001,42002):
    m = df.loc[i]
    a = ast.literal_eval(m["Ambience"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
resultn = pd.concat([n, f], axis=1, join="inner")

In [116]:
resultn

,business_id,stars_x,RestaurantsTakeOut,HasTV,NoiseLevel,Alcohol,RestaurantsGoodForGroups,BusinessAcceptsCreditCards,Caters,RestaurantsAttire,...,GoodForMeal,touristy,hipster,romantic,divey,intimate,trendy,upscale,classy,casual
0,SZU9c8V2GuREDN5KgyHFJw,5,True,False,average,beer_and_wine,True,True,True,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,True,True
1,eL4lyE7LNoXEMvpcJ8WNVw,5,True,True,average,beer_and_wine,True,True,False,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,True,True
2,eL4lyE7LNoXEMvpcJ8WNVw,3,True,False,quiet,beer_and_wine,True,True,True,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,False,True
3,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,False,True
4,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41997,QLHgjBHBoeIUoEvIPvjHnw,4,True,False,average,beer_and_wine,False,True,False,casual,...,"{'breakfast': False, 'brunch': False, 'lunch':...",False,False,False,False,False,False,False,False,True
41998,QBNATcq7Stx9LxcSq16W7w,5,True,False,quiet,beer_and_wine,True,True,False,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,True,True
41999,QLHgjBHBoeIUoEvIPvjHnw,5,True,False,quiet,beer_and_wine,True,True,False,casual,...,"{'dessert': False, 'latenight': False, 'lunch'...",False,False,False,False,False,False,False,False,True
42000,krTxH1a9kzWgwvt3PVH8pQ,5,True,False,average,beer_and_wine,False,True,False,casual,...,"{'breakfast': False, 'brunch': False, 'lunch':...",False,False,False,False,False,False,False,True,True
42001,YiSr-W5BBX6uXnhWPxk82Q,5,True,False,average,beer_and_wine,False,True,False,casual,...,"{'breakfast': False, 'brunch': False, 'lunch':...",False,False,False,False,False,False,False,False,True

In [117]:
attri = resultn['GoodForMeal']
df=pd.DataFrame(attri)
n = resultn[['business_id', 'stars_x','RestaurantsTakeOut','HasTV','NoiseLevel','Alcohol','RestaurantsGoodForGroups','BusinessAcceptsCreditCards','Caters','RestaurantsAttire','BikeParking','GoodForKids','RestaurantsReservations','BusinessAcceptsBitcoin','WiFi','HappyHour','CoatCheck','RestaurantsDelivery','OutdoorSeating','WheelchairAccessible','RestaurantsTableService','ByAppointmentOnly','DogsAllowed','Music','BusinessParking']]
a = df.loc[0]
z = ast.literal_eval(a["GoodForMeal"])
df1 = pd.DataFrame([z])

In [118]:


attri = resultn['GoodForMeal']
df=pd.DataFrame(attri)
n = resultn[['business_id', 'stars_x','RestaurantsTakeOut','HasTV','NoiseLevel','Alcohol','RestaurantsGoodForGroups','BusinessAcceptsCreditCards','Caters','RestaurantsAttire','BikeParking','GoodForKids','RestaurantsReservations','BusinessAcceptsBitcoin','WiFi','HappyHour','CoatCheck','RestaurantsDelivery','OutdoorSeating','WheelchairAccessible','RestaurantsTableService','ByAppointmentOnly','DogsAllowed','Music','BusinessParking','touristy','hipster','romantic','divey','intimate','trendy','upscale','classy','casual']]
f=df1
for i in range (1,2001):
    m = df.loc[i]
    a = ast.literal_eval(m["GoodForMeal"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result1 = pd.concat([n, f], axis=1, join="inner")

In [119]:
result1

,business_id,stars_x,RestaurantsTakeOut,HasTV,NoiseLevel,Alcohol,RestaurantsGoodForGroups,BusinessAcceptsCreditCards,Caters,RestaurantsAttire,...,trendy,upscale,classy,casual,dessert,latenight,lunch,dinner,brunch,breakfast
0,SZU9c8V2GuREDN5KgyHFJw,5,True,False,average,beer_and_wine,True,True,True,casual,...,False,False,True,True,False,False,False,True,False,False
1,eL4lyE7LNoXEMvpcJ8WNVw,5,True,True,average,beer_and_wine,True,True,False,casual,...,False,False,True,True,False,False,False,True,False,False
2,eL4lyE7LNoXEMvpcJ8WNVw,3,True,False,quiet,beer_and_wine,True,True,True,casual,...,False,False,False,True,False,False,True,True,False,False
3,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,casual,...,False,False,False,True,False,False,True,True,False,False
4,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,casual,...,False,False,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,eL4lyE7LNoXEMvpcJ8WNVw,5,False,False,average,NaN,False,True,False,casual,...,False,False,True,True,False,False,False,True,True,False
1997,H-1qpp_77KggOAr9htUrEw,4,True,True,average,beer_and_wine,True,True,False,casual,...,False,False,False,True,False,False,True,True,False,False
1998,SZU9c8V2GuREDN5KgyHFJw,5,False,True,average,full_bar,False,True,False,dressy,...,False,False,True,True,False,False,False,False,False,False
1999,SZU9c8V2GuREDN5KgyHFJw,5,False,False,average,full_bar,True,True,True,casual,...,False,False,True,True,False,False,True,True,False,False
2000,1FURjeGJi_LBXcJQg8eskw,5,True,True,average,full_bar,True,True,True,casual,...,False,False,True,True,False,False,True,True,False,False

In [120]:
for i in range (2001,10001):
    m = df.loc[i]
    a = ast.literal_eval(m["GoodForMeal"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result1 = pd.concat([n, f], axis=1, join="inner")

In [64]:
result1

,business_id,stars_x,RestaurantsTakeOut,HasTV,NoiseLevel,Alcohol,RestaurantsGoodForGroups,BusinessAcceptsCreditCards,Caters,RestaurantsAttire,...,trendy,upscale,classy,casual,dessert,latenight,lunch,dinner,brunch,breakfast
0,SZU9c8V2GuREDN5KgyHFJw,5,True,False,average,beer_and_wine,True,True,True,casual,...,False,False,True,True,False,False,False,True,False,False
1,eL4lyE7LNoXEMvpcJ8WNVw,5,True,True,average,beer_and_wine,True,True,False,casual,...,False,False,False,True,False,False,False,True,False,False
2,eL4lyE7LNoXEMvpcJ8WNVw,3,True,False,quiet,beer_and_wine,True,True,True,casual,...,False,False,False,True,False,False,False,True,False,False
3,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,casual,...,False,False,True,True,False,False,False,True,False,False
4,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,casual,...,False,False,True,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9997,U3grYFIeu6RgAAQgdriHww,1,True,False,quiet,beer_and_wine,False,True,True,casual,...,False,False,True,True,False,False,True,True,False,False
9998,U3grYFIeu6RgAAQgdriHww,5,False,False,average,full_bar,True,True,True,casual,...,False,False,True,True,False,False,False,False,False,False
9999,U3grYFIeu6RgAAQgdriHww,4,False,False,average,full_bar,True,True,True,casual,...,False,False,True,True,False,False,True,True,False,False
10000,U3grYFIeu6RgAAQgdriHww,1,False,False,average,full_bar,True,True,True,casual,...,False,False,True,True,False,False,True,True,False,False
10001,U3grYFIeu6RgAAQgdriHww,5,False,False,average,full_bar,True,True,True,casual,...,False,False,True,True,False,False,True,True,False,False

In [121]:
for i in range (10001,18001):
    m = df.loc[i]
    a = ast.literal_eval(m["GoodForMeal"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result2 = pd.concat([n, f], axis=1, join="inner")

In [122]:
result2

,business_id,stars_x,RestaurantsTakeOut,HasTV,NoiseLevel,Alcohol,RestaurantsGoodForGroups,BusinessAcceptsCreditCards,Caters,RestaurantsAttire,...,trendy,upscale,classy,casual,dessert,latenight,lunch,dinner,brunch,breakfast
0,SZU9c8V2GuREDN5KgyHFJw,5,True,False,average,beer_and_wine,True,True,True,casual,...,False,False,True,True,False,False,False,True,False,False
1,eL4lyE7LNoXEMvpcJ8WNVw,5,True,True,average,beer_and_wine,True,True,False,casual,...,False,False,True,True,False,False,False,True,False,False
2,eL4lyE7LNoXEMvpcJ8WNVw,3,True,False,quiet,beer_and_wine,True,True,True,casual,...,False,False,False,True,False,False,False,False,False,False
3,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,casual,...,False,False,False,True,False,False,False,True,False,False
4,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,casual,...,False,False,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17996,iBBV8vesQ8fo2IQA7an1JA,5,False,False,average,full_bar,True,True,False,casual,...,True,False,True,True,False,False,False,True,True,False
17997,iBBV8vesQ8fo2IQA7an1JA,5,True,True,average,full_bar,True,True,True,casual,...,False,False,True,False,False,False,True,True,False,False
17998,iBBV8vesQ8fo2IQA7an1JA,4,True,False,quiet,beer_and_wine,True,True,False,casual,...,False,False,True,False,False,False,False,False,False,False
17999,#NAME?,3,True,False,average,full_bar,True,True,True,casual,...,False,False,True,False,False,False,True,True,False,False
18000,iBBV8vesQ8fo2IQA7an1JA,4,True,True,average,full_bar,True,True,True,casual,...,False,False,False,False,False,False,True,True,False,False

In [123]:
for i in range (18001,26001):
    m = df.loc[i]
    a = ast.literal_eval(m["GoodForMeal"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result3 = pd.concat([n, f], axis=1, join="inner")

In [124]:
for i in range (26001,34001):
    m = df.loc[i]
    a = ast.literal_eval(m["GoodForMeal"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result4 = pd.concat([n, f], axis=1, join="inner")

In [125]:
for i in range (34001,40001):
    m = df.loc[i]
    a = ast.literal_eval(m["GoodForMeal"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result5 = pd.concat([n, f], axis=1, join="inner")

In [126]:
for i in range (40001,42002):
    m = df.loc[i]
    a = ast.literal_eval(m["GoodForMeal"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result6 = pd.concat([n, f], axis=1, join="inner")

In [127]:
result6

,business_id,stars_x,RestaurantsTakeOut,HasTV,NoiseLevel,Alcohol,RestaurantsGoodForGroups,BusinessAcceptsCreditCards,Caters,RestaurantsAttire,...,trendy,upscale,classy,casual,breakfast,brunch,lunch,dinner,latenight,dessert
0,SZU9c8V2GuREDN5KgyHFJw,5,True,False,average,beer_and_wine,True,True,True,casual,...,False,False,True,True,False,False,True,True,False,False
1,eL4lyE7LNoXEMvpcJ8WNVw,5,True,True,average,beer_and_wine,True,True,False,casual,...,False,False,True,True,False,False,True,True,False,False
2,eL4lyE7LNoXEMvpcJ8WNVw,3,True,False,quiet,beer_and_wine,True,True,True,casual,...,False,False,False,True,False,False,False,False,False,False
3,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,casual,...,False,False,False,True,False,False,False,False,False,False
4,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,casual,...,False,False,True,True,False,False,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41997,QLHgjBHBoeIUoEvIPvjHnw,4,True,False,average,beer_and_wine,False,True,False,casual,...,False,False,False,True,False,True,False,True,False,False
41998,QBNATcq7Stx9LxcSq16W7w,5,True,False,quiet,beer_and_wine,True,True,False,casual,...,False,False,True,True,False,False,True,True,False,False
41999,QLHgjBHBoeIUoEvIPvjHnw,5,True,False,quiet,beer_and_wine,True,True,False,casual,...,False,False,False,True,False,False,False,False,False,False
42000,krTxH1a9kzWgwvt3PVH8pQ,5,True,False,average,beer_and_wine,False,True,False,casual,...,False,False,True,True,False,False,True,True,False,False
42001,YiSr-W5BBX6uXnhWPxk82Q,5,True,False,average,beer_and_wine,False,True,False,casual,...,False,False,False,True,False,False,True,True,False,False

In [128]:
attri = result6['Music']
df=pd.DataFrame(attri)
n = result6[['business_id', 'stars_x','RestaurantsTakeOut','HasTV','NoiseLevel','Alcohol','RestaurantsGoodForGroups','BusinessAcceptsCreditCards','Caters','RestaurantsAttire','BikeParking','GoodForKids','RestaurantsReservations','BusinessAcceptsBitcoin','WiFi','HappyHour','CoatCheck','RestaurantsDelivery','OutdoorSeating','WheelchairAccessible','RestaurantsTableService','ByAppointmentOnly','DogsAllowed','Music']]
a = df.loc[0]
z = ast.literal_eval(a["Music"])
df1 = pd.DataFrame([z])

In [129]:
attri = result6['Music']
df=pd.DataFrame(attri)
n = result6[['business_id', 'stars_x','RestaurantsTakeOut','HasTV','NoiseLevel','Alcohol','RestaurantsGoodForGroups','BusinessAcceptsCreditCards','Caters','RestaurantsAttire','BikeParking','GoodForKids','RestaurantsReservations','BusinessAcceptsBitcoin','WiFi','HappyHour','CoatCheck','RestaurantsDelivery','OutdoorSeating','WheelchairAccessible','RestaurantsTableService','ByAppointmentOnly','DogsAllowed','touristy','hipster','romantic','divey','intimate','trendy','upscale','classy','casual','breakfast','brunch','lunch','latenight','dessert']]
f=df1
for i in range (1,2001):
    m = df.loc[i]
    a = ast.literal_eval(m["Music"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result1 = pd.concat([n, f], axis=1, join="inner")

In [130]:
for i in range (2001,10001):
    m = df.loc[i]
    a = ast.literal_eval(m["Music"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result2 = pd.concat([n, f], axis=1, join="inner")

In [131]:
for i in range (10001,20001):
    m = df.loc[i]
    a = ast.literal_eval(m["Music"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result3 = pd.concat([n, f], axis=1, join="inner")

In [132]:
for i in range (20001,30001):
    m = df.loc[i]
    a = ast.literal_eval(m["Music"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result3 = pd.concat([n, f], axis=1, join="inner")

In [133]:
for i in range (30001,40001):
    m = df.loc[i]
    a = ast.literal_eval(m["Music"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result3 = pd.concat([n, f], axis=1, join="inner")

In [134]:
for i in range (30001,42002):
    m = df.loc[i]
    a = ast.literal_eval(m["Music"])
    df1 = pd.DataFrame([a])
    f = pd.concat([df1,f], axis=0, ignore_index=True)
    
result3 = pd.concat([n, f], axis=1, join="inner")

In [135]:
result3

,business_id,stars_x,RestaurantsTakeOut,HasTV,NoiseLevel,Alcohol,RestaurantsGoodForGroups,BusinessAcceptsCreditCards,Caters,RestaurantsAttire,...,lunch,latenight,dessert,dj,live,jukebox,video,background_music,karaoke,no_music
0,SZU9c8V2GuREDN5KgyHFJw,5,True,False,average,beer_and_wine,True,True,True,casual,...,True,False,False,False,False,False,False,False,False,False
1,eL4lyE7LNoXEMvpcJ8WNVw,5,True,True,average,beer_and_wine,True,True,False,casual,...,True,False,False,False,False,False,False,False,False,False
2,eL4lyE7LNoXEMvpcJ8WNVw,3,True,False,quiet,beer_and_wine,True,True,True,casual,...,False,False,False,False,False,False,False,False,False,False
3,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,casual,...,False,False,False,False,False,False,False,False,False,False
4,SZU9c8V2GuREDN5KgyHFJw,5,True,True,average,beer_and_wine,True,True,False,casual,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41997,QLHgjBHBoeIUoEvIPvjHnw,4,True,False,average,beer_and_wine,False,True,False,casual,...,False,False,False,False,False,False,False,False,False,False
41998,QBNATcq7Stx9LxcSq16W7w,5,True,False,quiet,beer_and_wine,True,True,False,casual,...,True,False,False,False,False,False,False,False,False,False
41999,QLHgjBHBoeIUoEvIPvjHnw,5,True,False,quiet,beer_and_wine,True,True,False,casual,...,False,False,False,False,False,False,False,False,False,False
42000,krTxH1a9kzWgwvt3PVH8pQ,5,True,False,average,beer_and_wine,False,True,False,casual,...,True,False,False,False,False,False,False,False,False,False
42001,YiSr-W5BBX6uXnhWPxk82Q,5,True,False,average,beer_and_wine,False,True,False,casual,...,True,False,False,False,False,False,False,False,False,False

In [136]:
result3.to_csv('answer.csv')