In [12]:
import numpy as np
import pandas as pd
import scipy.stats

In [68]:
final_df = pd.read_csv("../../code/Shiny/final_review_sentiment.csv").drop(columns=["Unnamed: 0"])

In [69]:
final_df

,business_id,stars,positive_count,negative_count,sentiment_score_%,keyword,group
0,-BdYhP-12elmFV7oB1iv4A,5.0,7,0,100.000000,food,food
1,-e8RwknT5szoLk9uBZjzcw,4.0,1,0,100.000000,food,food
2,-ujBP1Dw0j1-Ffaz97-LXQ,4.0,33,1,97.058824,food,food
3,0CHIbqSkGWBr2KMkIUocEA,3.5,214,16,93.043478,food,food
4,0ac5lGA_0wdKDnib3y59Xg,4.0,117,4,96.694215,food,food
...,...,...,...,...,...,...,...
4722,ySRkAFddd1tCUzRDjbECdg,4.0,0,0,NaN,waitress,service
4723,ycbmvmBYk4w_ZmdrPL0tBQ,4.0,6,1,85.714286,waitress,service
4724,ywXa1pDqHPe9tOPx0yJFUg,3.0,0,0,NaN,waitress,service
4725,zbrIMldF_O1ZQ0vpUaaa8A,4.0,15,0,100.000000,waitress,service
4726,zkMqKD6IZPcU10g0a2APmg,4.5,0,0,NaN,waitress,service

### Pearson Correlation

In [70]:
def corr(keyword):
    df = final_df[final_df["keyword"] == keyword]
    cat_df = df.dropna()
    [r,p] = scipy.stats.pearsonr(cat_df["sentiment_score_%"],cat_df["stars"])
    return [r,p]

In [71]:
corr("food")

[0.26852242071860327, 0.0010921611522706962]

In [72]:
keyword_list = ['food','drink','price','service','burger','seafood'
                ,'salad','clam','chowder','crab','chicken','bread'
                ,'chip','appetizer','taco','oyster','steak'
                ,'pasta','lobster','wine','beer','cocktail','water'
                ,'staff','table','reservation','waiter','bartender'
                ,'waitress']

keyword_stat_test = dict()

for k in keyword_list:
    pearson = corr(k)
    if pearson[1] < 0.05:
        keyword_stat_test[k] = (pearson[0],pearson[1])

In [73]:
keyword_stat_test

{'food': (0.26852242071860327, 0.0010921611522706962),
 'drink': (0.1678822474226579, 0.032726259160323824),
 'service': (0.466046753209244, 1.1212934154321623e-09),
 'burger': (0.3393901316474712, 0.005306719299638612),
 'beer': (0.1839700645314536, 0.049051974161649414),
 'staff': (0.28968835669908244, 0.0002443802297689922),
 'table': (0.2000699596085591, 0.03204908662414199),
 'waiter': (0.29211098091964427, 0.008996296877676316)}